body {
  font-family: 'Arial', sans-serif;
  background-color: #e7e8eb;
  margin: 0;
  padding: 0;
  color: #333;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  padding: 20px;
  color: white;
  border-bottom: 4px solid #0056b3;
}

.logo {
  height: 60px;
}

#currentDate {
  font-size: 18px;
  font-weight: bold;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 30px auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-top: 10px;
  font-weight: bold;
}

form input, form select {
  padding: 12px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  transition: border-color 0.3s;
}

form input:focus, form select:focus {
  border-color: #007bff;
  outline: none;
}

button {
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="button"] {
  background-color: #6c757d;
  color: white;
}

button[type="button"]:hover {
  background-color: #5a6268;
}

button[type="submit"] {
  background-color: #28a745;
  color: white;
}

button[type="submit"]:hover {
  background-color: #218838;
}

button#generatePdf {
  background-color: #007bff;
  color: rgb(255, 255, 255);
  width: 100%;
}

button#generatePdf:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #007bff;
  color: white;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

.removeRecordButton {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 10px;
}

.removeRecordButton:hover {
  background-color: #c82333;
}

#timeEntries {
  margin-top: 15px;
}

.time-entry {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.time-entry label {
  margin-right: 10px;
}

.time-entry input {
  width: 120px;
  margin-right: 10px;
}
